@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "navigation";

$navigation-height: 61px;
$theme-color: #18ac9c;

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.monologue-app {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: $navigation-height;
}

.scroll-box {
  position: relative;
  display: inline-block;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.journal-section {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;

  $journal-section-header-height: 50px;
  $journal-list-color: #505050;
  $journal-list-color-dark: #222;;
  $active-journal-color: $theme-color;

  .journal-section-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: $journal-section-header-height;
    z-index: 1;
    background: $journal-list-color;
    border-bottom: solid 1px $journal-list-color-dark;

    button {
      position: absolute;
      top: 5px;
      right: 10px;
      background: $theme-color;
    }
  }

  .journal-list-wrapper {
    position: absolute;
    top: 0;
    padding-top: $journal-section-header-height;
    background: $journal-list-color;
  }

  .journal {
    height: 50px;
    padding: 10px 0 0 10px;
    background: $journal-list-color;
    color: #fff;
    border-bottom: solid 1px $journal-list-color-dark;
    cursor: pointer;

    &.active {
      font-weight: bold;
      background-color: $active-journal-color;
    }

    &:hover:not(.active) {
      background-color: $journal-list-color-dark;
    }
  }
}

.note-section {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;

  $note-section-header-height: 50px;
  $note-form-container-height: 100px;

  .note-section-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: $note-section-header-height;
    z-index: 1;
    background: #fff;
    padding: 3px 0 3px 10px;
    font-weight: bold;
    font-size: 26px;
  }

  .note-list-wrapper {
    position: absolute;
    top: 0;
    padding: $note-section-header-height 0 $note-form-container-height 10px;

    .note {
      padding: 0 0 8px;
    }

    .note-time {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
      width: 8%;
      font-color: #888;
      font-size: 12px;
    }

    .note-text {
      display: inline-block;
      width: 92%;
    }
  }

  .note-form-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $note-form-container-height;
    z-index: 1;

    .note-form {
      height: 100%;
      resize: none;
    }
  }
}

.journal-info-section {
  width: 25%;
  border-left: solid 5px #eee;

  .hash-tag-section {
    list-style: none;

    .hash-tag-header {
      padding: 10px 0 0 5px;
    }

    .hash-tag {
      padding-left: 10px;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .todo-section {
    list-style: none;

    .todo-header {
      padding: 10px 0 0 5px;
    }

    .todo {
      label {
        padding-left: 10px;
      }

      &:hover {
        background: $theme-color;
      }
    }
  }
}